body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none;
}

a {
   text-decoration: none;
   color: #FFFFFF;
}

.material-icons {
    font-family: 'Material Icons' !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}