.layout__default--wrap {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
}

.layout__default--head {
    background-color: #242424;
}

.layout__default--body {
    flex: 1;
    background-color: #242424;
    overflow: hidden;
}

.layout__default--foot {
    background-color: #242424;
    font-size: 12px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
}